.carousel {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
 
}

.carousel-slide {
  min-width: 100%;
  height: 450px;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  

.carousel-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: #fff;
  max-width: 420px;
}
  

.carousel-content h2 {
  font-size: 42px;
  margin-bottom: 10px;
}
  

.carousel-content p {
  font-size: 18px;
  margin-bottom: 20px;
}
  

.carousel-content button {
  padding: 12px 25px;
  background: #ff4d4f;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
 


.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 28px;
  padding: 10px 15px;
  cursor: pointer;
}
  

.carousel-btn.prev {
  left: 15px;
}
 

.carousel-btn.next {
  right: 15px;
}
